.checkout {
    padding-top: 96px;
    padding-bottom: 250px;
}

.checkout__title {
    color: #000;
    font-size: 33px;
    font-weight: 500;
    line-height: 43px;
    text-align: center;
}

.checkout__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 580px);
    grid-template-rows: 270px 100%;
    column-gap: 88px;
    row-gap: 55px;
}

.coupon__mark-text {
    margin-top: 16px;
    display: block;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.coupon__link {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.coupon {
    margin-top: 24px;
    padding: 24px 24px 40px 24px;
    width: 580px;
    height: 181px;
    border: 1px solid #D8D8D8;
}

.coupon__wrapper {
    margin-top: 40px;
    display: flex;
    column-gap: 28px;
}

.checkout__input {
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}

.coupon__btn {
    width: 168px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.coupon__text {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.details__section {
    grid-column: 1;
    grid-row: 2;
}

.details__title {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
}

.details__wrapper {
    display: flex;
    column-gap: 40px;

}

.details__input {
    margin-top: 37px;
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
}

.order__section {
    grid-column: 2;
    grid-row: 2;
}

.order__title {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
}

.order__card {
    margin-top: 40px;
    padding: 39px 57px 48px 59px;
    background: #EFEFEF;
}

.order__wrapper {
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8;
}

.order__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.order__product {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.order__products {
    padding-bottom: 18px;
    border-bottom: 1px solid #D8D8D8;
}

.order__subtotal-wrapper, .order__shipping-wrapper {
    margin-top: 16px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8;
}

.order__subtotal-price, .order__shipping-price {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.order__total-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}